$headerBorderRadius: 0px 0px 5px 5px;
$footerBorderRadius: 0px 0px 5px 5px;
$gridGap: 20px;

$headerBgColor: #DDDDDD;
$footerBgColor: #DDDDDD;
$headerTextColor: #FFFFFF;
$footerTextColor: #FFFFFF;
$mainBgColor: #FFFFFF;
$segmentHeaderTextColor: #134880;
$segmentParagraphTextColor: #484A4C;
$arrowHoverBorderColor: #134880;
$arrowBorderColor: #DDDDDD;
$arrowBackgroundColor: #FFFFFF;

$headerFontFamily: 'Helvetica Neue';
$footerFontFamily: 'Helvetica Neue';
$mainFontFamily: 'Source Sans Pro';
