@import "./variables";

@mixin headerBackgroundBorderRadius {
    background-color: $headerBgColor;
    border-radius: $headerBorderRadius;
}

@mixin footerBackgroundBorderRadius {
    background-color: $footerBgColor;
    border-radius: $footerBorderRadius;
}

@mixin imageMarginBorderRadius {
    margin: 0 5px 0 5px;
    border-radius: 5px;
}

@mixin arrow {
    width: 60px;
    height: 60px;
    border: 1px solid $arrowBorderColor;
    box-sizing: border-box;
    border-radius: 5px;
    margin: 0 0 10px 61%;
    background: $arrowBackgroundColor;
}

@mixin arrowImage {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@mixin arrowHover {
    border: 1px solid $arrowHoverBorderColor;
    cursor: pointer;
}

* {
    margin: 0;
    padding: 0;
}

.grid_content {
    display: grid;
    grid-template-columns: repeat(12, 60px);
    grid-column-gap: $gridGap;
    margin: 0 auto;
    max-width: 930px;

    header {
        display: grid;
        grid-gap: $gridGap;
        grid-column: 1/13;
        height: 100px;
        margin-bottom: 60px;

        .empty_logo {
            grid-column: 1/5;
            @include headerBackgroundBorderRadius();
            width: 301px;
        }
        
        .header_text {
            grid-column: 5/13;
            @include headerBackgroundBorderRadius();
            width: 621px;

            h2 {
                width: 245px;
                height: 18px;
                font-family: $headerFontFamily;
                font-size: 15px;
                line-height: 18px;
                color: $headerTextColor;
                margin: 6% 0 0 13%;
            }
        }
    }

    main {
        width: 940px;
        display: flex;
        background: $mainBgColor;
        position: relative;

        .segment_images {
            width: 620px;

            .top_row {
                display: flex;
                position: relative;
                width: fit-content;
                margin: 0 0 10px -62%;

                img {
                   @include imageMarginBorderRadius();
                }

                img.image7 {
                    width: 180px; 
                    height: 200px;
                }

                img.image6 {
                    width: 120px; 
                    height: 200px;
                }

                img.image9 {
                    width: 220px;
                    height: 200px;
                }

                img.image8 {
                    width: 180px;
                    height: 200px;
                }

                img.image5 {
                    width: 260px;
                    height: 200px;
                }
            }

            .bottom {
                display: flex;
                position: relative;

                .bottom_row {
                    display: flex;
                    position: relative;
                    width: fit-content;
                    margin: 0 0 60px -57%;
                    overflow: hidden;

                    img {
                        @include imageMarginBorderRadius();
                    }

                    img.image4 {
                        width: 220px; 
                        height: 200px;
                    }

                    img.image1 {
                        width: 260px; 
                        height: 200px;
                    }

                    img.image2 {
                        width: 120px; 
                        height: 200px;
                    }

                    img.image3 {
                        width: 180px; 
                        height: 200px;
                    }
                }

                .arrows {
                    display: flex;
                    width: 155px;
                    flex-direction: column;
                    position: relative;
                    background: $arrowBackgroundColor;

                    .arrow_left {
                        @include arrow();

                        img {
                            @include arrowImage();
                        }

                        &:hover {
                            @include arrowHover();

                            img {
                                content: url('../images/arrow-blue-left.png');
                            }
                        }
                    }

                    .arrow_right {
                        @include arrow();

                        img {
                            @include arrowImage();
                        }

                        &:hover {
                            @include arrowHover();

                            img {
                                content: url('../images/arrow-blue-right.png');
                            }
                        }
                    }
                }
            }
        }

        .segment_text {
            padding-left: 2%;
            background: $mainBgColor;
            position: relative;

            .segment_header h3 {
                font-family: $mainFontFamily;
                font-style: normal;
                font-weight: bold;
                font-size: 32px;
                line-height: 40px;
                letter-spacing: -0.2px;
                color: $segmentHeaderTextColor;
                margin: 0 0 20px 0;
                width: 300.93px;
                height: 120px;
                padding: 0;
            }

            .segment_paragraph p {
                font-family: $mainFontFamily;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 26px;
                letter-spacing: -0.2px;
                color: $segmentParagraphTextColor;
                width: 300.93px;
                height: 156px;
            }
        }
    }

    footer {
        display: grid;
        grid-gap: $gridGap;
        grid-column: 1/13;
        height: 100px;
        @include footerBackgroundBorderRadius();

        .footer_text h2 {
            font-family: $footerFontFamily;
            font-size: 15px;
            line-height: 18px;
            color: $footerTextColor;
            width: 245px;
            height: 18px;
            margin: 5% 0 0 8.5%;
        }
    }
}